/* google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Kanit&displayy=Roboto&display=swap');

/* universal selector for margin and padding */
*{
    margin: 0;
    padding: 0;
}

/* header section */

header{
    position: relative;
    background-color: #262626;
}

header  img{
    width: 100%;
    background-size: contain;
}

.peak-header{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

header > h1{
    text-transform: uppercase;
    font-size: 3vw;
    font-family: Kanit, sans-serif;
    width: 100%;
    text-align: center;
}

header > h2{
    font-family: Kanit, sans-serif;
    margin-top: 3vw;
    text-transform: capitalize;
    font-size: 1.5vw;
}

span{
    color: red;
}

/* navigation  */

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
    font-family: Kanit, sans-serif;
    padding: 0.1vw;
}

a:hover{
    border: 3px solid rgb(255, 0, 0);
    border-radius: 6px;
    box-shadow: 4px 4px 4px red;
    transition: 0.2s;
}

ul{
    line-height: 2.5vw;
}

ul > li{
    float: left;
    list-style: none;
    font-weight: bold;
    margin-left: 17vw;
    padding-top: 1.1vw;
}

nav{
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5vw;
    z-index: 1;
}

/* introduction */

#introduction{
    background: linear-gradient(#262626, #fff);
    text-align: center;    
}

#introduction p{
    width: 30vw;
    margin: 0 auto;
    margin-top: 3%;
    line-height: 130%;
    font-size: 1.5vw;
    font-family: Roboto, sans-serif;
}

#introduction h2{
    text-transform: uppercase;
    color: red;
    font-size: 2vw;
    font-family: Kanit, sans-serif;
}

/* gym-goals section */

#gym-goals{
    width: 100%;
    height: 70%;
    position: relative;
    margin-top: 8vh;
}

div > h3{
    color: #fff;
    margin: 3%;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: Kanit, sans-serif;
}

div > p{
    font-size: 1.5vw;
    font-family: Roboto, sans-serif;
}

div{
    width: 50%;
    margin-top: 8vh;
    text-align: center;
    background-color: #262626;
    color: #fff;
    padding: 1%;
    border: 4px solid black;
    border-radius: 10px;
}

div:hover{
    box-shadow: 10px 10px 10px  #1f1f1f;
    transition: 0.5s;
    border: 4px solid red;
}

.strength-header{
    float: left;
    margin-left: 1vw;
    margin-top: 4vw;
}

#gym-goals > img{
    height: 22vw;
    width: 35vw;
    margin-left: 6vw;
    border: 3px solid #1f1f1f;
    border-radius: 12px;
}

#bench-press{
    position: absolute;
    right: 4vw;
    bottom: 5vw;
}

#deadlift{
    margin-top: 3vw;
}

#pose-img{
    margin-top: 7vw;
}

.hypertrophy-header{
    float: right;
    margin-bottom: 9vw;
    margin-top: 8vw;
    margin-right: 1vw;
}

.hybrid-header{
    clear: both;
    margin-left: 1vw;
    margin-right: 0;
}

/* footer */

footer{
    background: linear-gradient(#fff, #262626);
    height: 30vh;
    text-align: center;
    line-height: 36vh;
}

footer > a{
    color: #1f1f1f;
    font-size: 2.5vw;
    margin: 20px;
}

/* nutrition page */

/* header */

.nutrition-h1, .nutrition-h2{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-family: Kanit, sans-serif;
}

.nutrition-h1 > span{
    color: rgb(0, 0, 0);
}



/* introduction section */

#nutrition-intro{
    text-align: center;
    position: absolute;
    top: 35vw;
    left: 32vw; 
    width: 30vw;
    margin: 0 auto;
    padding: 2%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid #141414;
    border-radius: 15px;
}

#nutrition-intro > h3{
    text-transform: uppercase;
    padding-bottom: 2vw;
    font-size: 2vw;
    font-family: Kanit, sans-serif;
}

#nutrition-intro > p{
    font-size: 1.5vw;
    font-family: Roboto, sans-serif;
}

/* food pyramid section */

.pyramid{
    position: relative;
}

.pyramid-list{
    width: 45vw;
    height: 50vw;
    position: relative;
    margin-left: 1vw;
}

.pyramid-list > p{
    margin-top: 2vw;
    font-family: Roboto, sans-serif;
}

.pyramid-items{
    font-size: 2vw;
    font-family: Roboto, sans-serif;
    margin-top: 1.5vw;
    list-style: circle;
    text-align: center;
    margin-left: 11vw;
}

.pyramid-list > h4{
    margin-top: 2vh;
    font-size: 3vw;
    font-family: Kanit, sans-serif;
}

.pyramid-ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4vw;
    bottom: 2vw;
}

.food-pyramid{
    height: 46vw;
    width: 46vw;
    position: absolute;
    right: 1.5vw;
    top: 1vw;
}

#pyramid-explained{
   margin-left: 45vw;
}

.meal-prep{
    height: 27vw;
    width: 30vw;
    position: absolute;
    bottom: 7vw;
    left: 7vw;
    border: 2px solid #1f1f1f;
    border-radius: 12px;
}

/* form.html page */

/* form section */

#form-header{
    background-color: #FFFFFF;
    background-image: linear-gradient(0deg, #FFFFFF 0%, #515252 33%, #FF0000 66%);
    height: 100vw;
    width: 100vw;
}

#form-h1, #form-h2{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: Kanit, sans-serif;
}

#form-h1 > span{
    color: rgb(0, 0, 0);
}

.goals-form{
    position: absolute;
    top: 30vw;
    left: 10vw;
    background-color: #fff;
    opacity: 0.5;
    padding: 3vw;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    height: 15vw;
    width: 26vw;
}

.goals-form > input[type="radio"]{
    height: 1vw;
}

.goals-form > label{
    font-size: 1vw;
    font-family: Roboto, sans-serif;
}

.goals-form > input[type="submit"]{
    padding: 3%;
    margin-top: 6%;
    font-size: 0.9vw;
    font-family: Roboto, sans-serif;
}

.goals-form > h3{
    padding: 3%;
    font-size: 2vw;
    font-family: Kanit, sans-serif;
}

.info-form{
    position: absolute;
    top: 30vw;
    right: 10vw;
    background-color: #fff;
    opacity: 0.5;
    padding: 3%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px; 
    height: 15vw;
    width: 26vw;
}

.info-form > label{
    font-size: 1.1vw;
    font-family: Roboto, sans-serif;
}

.info-form > input[type="submit"]{
    padding: 3%;
    margin-top: 6%;
    font-family: Roboto, sans-serif;
}

.info-form > input{
    margin: 0.8vw 1vw;
    font-size: 1vw;
    font-family: Roboto, sans-serif;
}

form:hover{
    background-color: #fff;
    opacity: 1;
    box-shadow: 10px 10px 8px rgb(29, 29, 29);
}

/* responsiveness for 1024px */

/* index.html */

@media  screen and (min-width:769px){

    .goals-form{
        height: 18vw;
        width: 29vw;
    }

    .info-form{
        height: 18vw;
        width: 29vw;
    }
}

/* responsivness for 768px */


@media screen and (max-width:768px){

    /* index.html */
    
    ul{
        line-height: 2.5vw;
    }

    #introduction p{
        font-size: 2vw;
        width: 50vw;
    }

    #introduction > h2{
        font-size: 3vw;
    }

    div > p{
        font-size: 2vw;
    }

    div{
        width: 90%;
    }
    
    #gym-goals{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #gym-goals > img{
        margin-bottom: 3vw;
        width: 65vw;
        height: auto;
    }
    
    #gym-goals > #bench-press{
        position: relative;
        margin-top: 10vw; 
        margin-left: 8vw; 
        align-self: center;
    }
    
    #gym-goals > #pose-img{
        margin: 0;
    }

    #gym-goals > #deadlift{
        margin-top: 5vw;
        margin-left: 0;
        margin-bottom: 0;
    }

    .hybrid-header{
        margin-left: 0;
        margin-bottom: 6vw;
    }

   /* nutrition.html */

   .pyramid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   .pyramid-items {
       font-size: 3vw;
       margin-top: 1.7vw;
       margin-left: 14vw;
    }

   .pyramid li{
        padding-top: 0;
    }

   .food-pyramid, .meal-prep{
        position: relative;
        right: 0;
        top: 0;
    }
    
    .meal-prep {
        position: relative;
        bottom: 0;
        left: 0;
    }

    #pyramid-explained{
        margin: 5vw 0 5vw 0;
        width: 80vw;
    }
   
   .pyramid-list{
        width: 80vw;
    }

   .pyramid-ul{
        left: 16vw;
    }
  
    /* form.html */

   .goals-form{
        height: auto;
        width: auto;
        top: 28vw;
        left: 18vw;
        right: 18vw;
    }
    
    .info-form{
        height: auto;
        width: auto;
        top: 65vw;
        right: 25vw;
        left: 25vw;
        margin-top: 6vh;
    }

    .info-form > label{
        font-size: 2vw;
    }

    .info-form > input[type="submit"]{
        font-size: 2vw;
    }

    .goals-form > label{
        font-size: 2vw;
    }

    .goals-form > input[type="submit"]{
        font-size: 2vw;
    }
}
    




/* responsiveness for 320px */

@media  screen and (max-width:320px) {
    
    /* index.html */

    nav{
        height: 8vw;
    }

    ul{
        line-height: 6vw;
    }

    ul > li{
        padding-top: 0;
    }

    div > p{
        font-size: 3.5vw;
    }

    div > h3{
        font-size: 3vw;
    }

    #introduction > p{
        width: 60vw;
        font-size: 2.5vw;
    }

    /* nutrition.html */

    .pyramid-list{
        height: 78vw;
    }

    #nutrition-intro{
        width: 43vw;
        left: 26vw;
    }

    #nutrition-intro p{
        font-size: 2.5vw;
    }

    .pyramid-list h4{
        margin-top: 1vw;
    }

    .pyramid-items{
        margin-top: -1.3vw;
    }

    /* form.html */

    #form-header{
        height: 100vw;
    }

    .goals-form{
        height: auto;
        width: auto;
        left: 6vw;
        right: 6vw;
    }

    .info-form{
        height: auto;
        width: auto;
        right: 20vw;
        left: 20vw;
        top: 68vw;
    }

    .info-form > label {
        font-size: 2.8vw;
    }

    .goals-form > label{
        font-size: 2.9vw;
    }

   
    .info-form > input[type=submit]{
        font-size: 2.8vw;
    }

    .goals-form > input[type=submit]{
        font-size: 2.8vw;
    }

    footer{
        height: 39vw;
        line-height: 56vw;
    }
}