*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */

header{
    position: relative;
    background-color: #262626;

}

header  img{
    width: 100%;
    background-size: contain;
}

header > h1, h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

h1{
    text-transform: uppercase;
}

h3{
    margin-top: 40px;
    text-transform: capitalize;
}

/* navigation  */

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
}

a:hover{
    border: 3px solid #fff;
    border-radius: 6px;
}

ul > li{
    float: left;
    list-style: none;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 14%;
    padding-top: 0.5rem;
}

nav{
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    width: 100vw;
}

/* introduction */

#introduction{
    background: linear-gradient(#262626, #eee);
    text-align: center;
    
}

#introduction p{
    width: 30vw;
    margin: 0 auto;
    margin-top: 3%;
    line-height: 130%;
}