*{
    margin: 0;
    padding: 0;
}

/* header section */

header{
    position: relative;
    background-color: #262626;

}

header  img{
    width: 100%;
    background-size: contain;
}

.peak-header{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

header > h1{
    text-transform: uppercase;
}

header > h3{
    margin-top: 40px;
    text-transform: capitalize;
}

span{
    color: red;
}

/* navigation  */

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
}

a:hover{
    border: 3px solid rgb(255, 0, 0);
    border-radius: 6px;
    box-shadow: 4px 4px 4px red;
    transition: 0.2s;
}

ul > li{
    float: left;
    list-style: none;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 14%;
    padding-top: 0.8rem;
}

nav{
    background-color: #0b0b0b;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 1;
}

/* introduction */

#introduction{
    background: linear-gradient(#262626, #fff);
    text-align: center;
    
}

#introduction p{
    width: 30vw;
    margin: 0 auto;
    margin-top: 3%;
    line-height: 130%;
}

#introduction h2{
    text-transform: uppercase;
    color: red;
}

/* gym-goals section */

#gym-goals{
    width: 100%;
    height: 70%;
    position: relative;
    margin-top: 8vh;
}

div > h3{
    color: #fff;
    margin: 3%;
    text-transform: uppercase;
}

div{
    width: 50%;
    margin-top: 8vh;
    text-align: center;
    background-color: #262626;
    color: #fff;
    padding: 1%;
    border: 4px solid black;
    border-radius: 10px;
}

div:hover{
    box-shadow: 10px 10px 10px  #1f1f1f;
    transition: 0.5s;
    zoom: 101%;
    border: 4px solid red;
}

.strength-header{
    float: left;
    margin-left: 1vw;
}

#gym-goals > img{
    width: 35%;
    margin-left: 6vw;
    border: 3px solid #1f1f1f;
    border-radius: 12px;
}

#bench-press{
    height: 300px;
    width: 300px;
    position: absolute;
    right: 4vw;
    bottom: 0vh;
}

.hypertrophy-header{
    float: right;
    margin-bottom: 90px;
    margin-top: 30px;
    margin-right: 1vw;
}

.hybrid-header{
    clear: both;
    margin-left: 1vw;
    margin-right: 0;
}

/* footer */

footer{
    background: linear-gradient(#fff, #262626);
    height: 30vh;
    text-align: center;
    line-height: 29vh;

}

footer > a{
    color: #1f1f1f;
    font-size: xx-large;
    margin: 20px;

}

/* nutrition page */

/* header */

.nutrition-h1, .nutrition-h3{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.nutrition-h1 > span{
    color: rgb(0, 0, 0);
}



/* introduction section */

#nutrition-intro{
    text-align: center;
    position: absolute;
    top: 78vh;
    left: 32vw; 
    width: 30vw;
    margin: 0 auto;
    padding: 2%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px solid #141414;
    border-radius: 15px;
}

#nutrition-intro > h3{
    text-transform: uppercase;
    padding-bottom: 2vw;
}

/* food pyramid section */

.pyramid{
    position: relative;
}

.pyramid-list{
    width: 45vw;
    height: 70vh;
    position: relative;
}

.pyramid-list > p{
    margin-top: 8vh;
}

.pyramid-items{
    font-size: medium;
    margin-bottom: 1vh;
}

.pyramid-list > h4{
    margin-top: 2vh;
    font-size: x-large;
}

.pyramid-ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 17vw;
    bottom: 4vh;
}

.food-pyramid{
    height: 70vh;
    width: 48vw;
    position: absolute;
    right: 0.5vw;
    top: 2vh;
}

#pyramid-explained{
   margin-left: 45vw;
}

.meal-prep{
    height: 300px;
    width: 400px;
    position: absolute;
    top: 90vh;
    left: 7vw;
    border: 2px solid #1f1f1f;
    border-radius: 12px;
}

/* form.html page */

/* form section */

.goals-form{
    position: absolute;
    top: 50%;
    left: 15%;
    background-color: #fff;
    opacity: 0.5;
    padding: 3%;
    border: 3px solid red;
    border-radius: 12px;
}

.goals-form > input[type="submit"]{
    padding: 3%;
    margin-top: 6%;
}

.goals-form > h3{
    padding: 5%;
}

.info-form{
    position: absolute;
    top: 50%;
    right: 15%;
    background-color: #fff;
    opacity: 0.5;
    padding: 3%;
    border: 3px solid red;
    border-radius: 12px; 
}

.info-form > input[type="submit"]{
    padding: 3%;
    margin-top: 6%;
}

.info-form > input{
    margin: 1.3vh 1vh;
}

form:hover{
    background-color: #fff;
    opacity: 1;
    zoom: 102%;
}