*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */

header{
    background-color: blue;
    position: relative;
}

header  img{
    width: 100vw;
    /* height: 100vh; */
    background-size: contain;
}

header > h1, h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-transform: uppercase;
}

h3{
    margin-top: 40px;
    text-transform: capitalize;
}

/* navigation  */

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

ul > li{
    float: left;
    list-style: none;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 14%;
}

nav{
    background-color: #f77f00;
    position: fixed;
    top: 0;
    width: 100vw;
}